In [1]:
import scipy.stats as spt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [2]:
data2=pd.read_csv('temp.csv')

print(spt.shapiro(data2.SCORE[data2.GRADE=='fre']),'\n')
print(spt.shapiro(data2.SCORE[data2.GRADE=='sop']),'\n')
print(spt.shapiro(data2.SCORE[data2.GRADE=='jun']),'\n')
print(spt.shapiro(data2.SCORE[data2.GRADE=='sen']),'\n')

print(spt.levene(data2.SCORE[data2.GRADE=='fre'],data2.SCORE[data2.GRADE=='sop'],
                 data2.SCORE[data2.GRADE=='jun'],data2.SCORE[data2.GRADE=='sen']),'\n')

print(spt.bartlett(data2.SCORE[data2.GRADE=='fre'],data2.SCORE[data2.GRADE=='sop'],
                   data2.SCORE[data2.GRADE=='jun'],data2.SCORE[data2.GRADE=='sen']))

ShapiroResult(statistic=0.9097163081169128, pvalue=0.2115684449672699)

ShapiroResult(statistic=0.9328135251998901, pvalue=0.41089069843292236)

ShapiroResult(statistic=0.9695447683334351, pvalue=0.9059768915176392)

ShapiroResult(statistic=0.9313449859619141, pvalue=0.39458659291267395)

LeveneResult(statistic=0.29485921693349876, pvalue=0.8288903318657788)

BartlettResult(statistic=0.7750467373461302, pvalue=0.8554257361613797)

In [3]:
print(spt.f_oneway(data2.SCORE[data2.GRADE=='fre'],data2.SCORE[data2.GRADE=='sop'],
             data2.SCORE[data2.GRADE=='jun'],data2.SCORE[data2.GRADE=='sen']),'\n')

model2=ols('SCORE ~ C(GRADE)',data=data2).fit()
anova_lm(model2)

F_onewayResult(statistic=0.7496788922095763, pvalue=0.5284052378268367)

            df        sum_sq     mean_sq         F    PR(>F)
C(GRADE)   3.0   1241.395833  413.798611  0.749679  0.528405
Residual  44.0  24286.583333  551.967803       NaN       NaN

In [4]:
print(spt.shapiro(data2.SCORE[data2.CLASS=='A']),'\n')
print(spt.shapiro(data2.SCORE[data2.CLASS=='B']),'\n')
print(spt.shapiro(data2.SCORE[data2.CLASS=='C']),'\n')
print(spt.shapiro(data2.SCORE[data2.CLASS=='D']),'\n')

print(spt.levene(data2.SCORE[data2.CLASS=='A'],data2.SCORE[data2.CLASS=='B'],
                 data2.SCORE[data2.CLASS=='C'],data2.SCORE[data2.CLASS=='D']),'\n')

print(spt.bartlett(data2.SCORE[data2.CLASS=='A'],data2.SCORE[data2.CLASS=='B'],
                   data2.SCORE[data2.CLASS=='C'],data2.SCORE[data2.CLASS=='D']))

ShapiroResult(statistic=0.9248653054237366, pvalue=0.3288426399230957)

ShapiroResult(statistic=0.9146616458892822, pvalue=0.24471063911914825)

ShapiroResult(statistic=0.9890144467353821, pvalue=0.9995220303535461)

ShapiroResult(statistic=0.9324204325675964, pvalue=0.406475305557251)

LeveneResult(statistic=1.2523157647372425, pvalue=0.3023830579547205)

BartlettResult(statistic=2.751186986101656, pvalue=0.4315985695332628)

In [5]:
print(spt.f_oneway(data2.SCORE[data2.CLASS=='A'],data2.SCORE[data2.CLASS=='B'],
             data2.SCORE[data2.CLASS=='C'],data2.SCORE[data2.CLASS=='D']),'\n')

model3=ols('SCORE ~ C(CLASS)',data=data2).fit()
anova_lm(model3)

F_onewayResult(statistic=2.471629596005447, pvalue=0.0742083884865057)

            df        sum_sq     mean_sq        F    PR(>F)
C(CLASS)   3.0   3681.562500  1227.18750  2.47163  0.074208
Residual  44.0  21846.416667   496.50947      NaN       NaN

In [6]:
model4=ols('SCORE ~ C(GRADE)*C(CLASS)',data=data2).fit()
anova_lm(model4)

                     df        sum_sq      mean_sq         F    PR(>F)
C(GRADE)            3.0   1241.395833   413.798611  0.863074  0.468369
C(CLASS)            3.0   4983.185764  1661.061921  3.464535  0.025226
C(GRADE):C(CLASS)   9.0   3509.013864   389.890429  0.813208  0.607178
Residual           39.0  18698.444444   479.447293       NaN       NaN

In [7]:
from statsmodels.sandbox.stats.multicomp import MultiComparison
from statsmodels.stats.multicomp import pairwise_tukeyhsd

comp = MultiComparison(data2.SCORE, data2.CLASS)


# Bonferroni
opt = comp.allpairtest(spt.ttest_ind, method='bonf')
print(opt[0])

# Tukey's HSD
hsd = pairwise_tukeyhsd(data2['SCORE'], data2['CLASS'], alpha=0.05)
hsd.summary()

Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.01, alphacBonf=0.008
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
     A      B -1.1321 0.2698       1.0  False
     A      C -1.2948 0.2088       1.0  False
     A      D -3.0609 0.0057    0.0344   True
     B      C   -0.05 0.9606       1.0  False
     B      D  -1.485 0.1517    0.9104  False
     C      D -1.6151 0.1206    0.7233  False
---------------------------------------------

In [9]:
data1=pd.read_csv('data_miles.csv',dtype={'fuel':'object'})

model1=ols('miles ~ C(fuel)*C(pad)',data=data1).fit()
anova_lm(model1)

                  df      sum_sq     mean_sq         F    PR(>F)
C(fuel)          3.0  365.571250  121.857083  3.274005  0.058846
C(pad)           2.0  282.253333  141.126667  3.791732  0.052936
C(fuel):C(pad)   6.0  259.010000   43.168333  1.159828  0.387823
Residual        12.0  446.635000   37.219583       NaN       NaN

In [10]:
model11=ols('miles ~ C(fuel)+C(pad)',data=data1).fit()
anova_lm(model11)

            df      sum_sq     mean_sq         F    PR(>F)
C(fuel)    3.0  365.571250  121.857083  3.108401  0.052386
C(pad)     2.0  282.253333  141.126667  3.599940  0.048402
Residual  18.0  705.645000   39.202500       NaN       NaN

In [11]:
comp2 = MultiComparison(data1['miles'], data1['pad'])


# Bonferroni
opt2 = comp2.allpairtest(spt.ttest_ind, method='bonf')
print(opt2[0])

# Tukey's HSD
hsd2 = pairwise_tukeyhsd(data1['miles'], data1['pad'], alpha=0.05)
hsd2.summary()

Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
     X      Y  1.1951 0.2519    0.7557  False
     X      Z -1.1546 0.2676    0.8028  False
     Y      Z -2.3579 0.0335    0.1004  False
---------------------------------------------